nodered/flows/flows.json
[{"id":"358c983c2df6621a","type":"tab","label":"Produtor","disabled":false,"info":"","env":[]},{"id":"6ab9c8df41441131","type":"tab","label":"Consumidor","disabled":false,"info":"","env":[]},{"id":"84d97cc19b989797","type":"group","z":"358c983c2df6621a","name":"Métrica simples","style":{"label":true},"nodes":["c4a9445ffd843a8c","9bf6ca9275ebc9bc","83a4f8a5f4e0c541","bfecb0cd78b658d6"],"x":54,"y":79,"w":752,"h":142},{"id":"67f7e2d8386be090","type":"modbus-client","name":"simuladorSEver","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"3d213ea7bfc03f22","type":"mqtt-sparkplug-broker","name":"node_red_gateway_01","deviceGroup":"","eonName":"node_red_gateway_01","broker":" 127.0.0.1","port":1883,"clientid":"node_red_gateway_01","usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"enableStoreForward":false,"compressAlgorithm":"","aliasMetrics":false,"useTemplates":true,"templates":[],"manualEoNBirth":false,"primaryScada":""},{"id":"3335fc7cdfca648e","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"plc_simulator","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"c4a9445ffd843a8c","type":"modbus-read","z":"358c983c2df6621a","d":true,"g":"84d97cc19b989797","name":"esteira01/TemperaturaMotor","topic":"esteira01/TemperaturaMotor","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"20","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","server":"67f7e2d8386be090","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":220,"y":120,"wires":[["9bf6ca9275ebc9bc","bfecb0cd78b658d6"],[]]},{"id":"9bf6ca9275ebc9bc","type":"function","z":"358c983c2df6621a","d":true,"g":"84d97cc19b989797","name":"function 1","func":"const tagMap = {\n    \"esteira01/MotorLigado\": {\n        device: \"esteira01\",\n        metric: \"Control/MotorLigado\",\n        type: \"boolean\",\n        scale: 1\n    },\n    \"esteira01/VelocidadeRPM\": {\n        device: \"esteira01\",\n        metric: \"Process/VelocidadeRPM\",\n        type: \"float\",\n        scale: 1\n    },\n    \"esteira01/TemperaturaMotor\": {\n        device: \"esteira01\",\n        metric: \"Process/TemperaturaMotor\",\n        type: \"float\",\n        scale: 10\n    },\n    \"esteira01/ContadorGarrafas\": {\n        device: \"esteira01\",\n        metric: \"Production/ContadorGarrafas\",\n        type: \"int\",\n        scale: 1\n    },\n    \"esteira01/SensorPresenca\": {\n        device: \"esteira01\",\n        metric: \"Sensor/SensorPresenca\",\n        type: \"boolean\",\n        scale: 1\n    },\n    \"esteira01/AlarmeSobrecarga\": {\n        device: \"esteira01\",\n        metric: \"Alarm/Sobrecarga\",\n        type: \"boolean\",\n        scale: 1\n    },\n\n    \"tanque01/NivelTanque\": {\n        device: \"tanque01\",\n        metric: \"Process/NivelTanque\",\n        type: \"float\",\n        scale: 10\n    },\n    \"tanque01/BombaLigada\": {\n        device: \"tanque01\",\n        metric: \"Control/BombaLigada\",\n        type: \"boolean\",\n        scale: 1\n    },\n    \"tanque01/ValvulaEntrada\": {\n        device: \"tanque01\",\n        metric: \"Control/ValvulaEntrada\",\n        type: \"boolean\",\n        scale: 1\n    },\n    \"tanque01/AlarmeNivelBaixo\": {\n        device: \"tanque01\",\n        metric: \"Alarm/NivelBaixo\",\n        type: \"boolean\",\n        scale: 1\n    },\n    \"tanque01/AlarmeNivelAlto\": {\n        device: \"tanque01\",\n        metric: \"Alarm/NivelAlto\",\n        type: \"boolean\",\n        scale: 1\n    }\n};\n\nconst config = tagMap[msg.topic];\n\nif (!config) {\n    node.warn(`Tag não mapeada: ${msg.topic}`);\n    return null;\n}\n\nlet raw = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nlet value;\n\nif (config.type === \"boolean\") {\n    value = Boolean(raw);\n} else if (config.type === \"int\") {\n    value = parseInt(raw, 10);\n} else if (config.type === \"float\") {\n    value = Number(raw) / config.scale;\n} else {\n    value = raw;\n}\n\nconst sparkplugMessage = {\n    payload: {\n        metrics: [\n            {\n                name: config.metric,\n                value: value,\n                timestamp: new Date()\n            }\n        ]\n    }\n};\n\n// Saída 1: esteira01\n// Saída 2: tanque01\nif (config.device === \"esteira01\") {\n    return [sparkplugMessage, null];\n}\n\nif (config.device === \"tanque01\") {\n    return [null, sparkplugMessage];\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[["83a4f8a5f4e0c541"]]},{"id":"83a4f8a5f4e0c541","type":"mqtt sparkplug device","z":"358c983c2df6621a","d":true,"g":"84d97cc19b989797","name":"","metrics":{"Process/TemperaturaMotor":{"dataType":"Float"}},"broker":"3d213ea7bfc03f22","birthImmediately":false,"bufferDevice":false,"x":690,"y":140,"wires":[[]]},{"id":"956bedbb65aff325","type":"inject","z":"358c983c2df6621a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"carregar_mapa_modbus2","payload":"","payloadType":"date","x":180,"y":340,"wires":[["d6c447f6e6e6d323"]]},{"id":"d6c447f6e6e6d323","type":"function","z":"358c983c2df6621a","name":"Várias métricas","func":"// Function: Gerar leituras Modbus conforme JSON da planta\n\nconst UNIT_ID = 1;\nconst DELAY_MS = 100;\nconst originalPayload = msg.payload;\n\nconst reads = [\n    {\n        topic: \"esteira01/input_register/10\",\n        fc: 4,\n        address: 10,\n        quantity: 2\n    },\n    {\n        topic: \"esteira01/holding_register/20\",\n        fc: 3,\n        address: 20,\n        quantity: 1\n    },\n    {\n        topic: \"esteira01/coil/1\",\n        fc: 1,\n        address: 1,\n        quantity: 1\n    },\n    {\n        topic: \"esteira01/discrete_input/1\",\n        fc: 2,\n        address: 1,\n        quantity: 1\n    },\n    {\n        topic: \"esteira01/coil/10\",\n        fc: 1,\n        address: 10,\n        quantity: 1\n    },\n    {\n        topic: \"tanque01/input_register/30\",\n        fc: 4,\n        address: 30,\n        quantity: 1\n    },\n    {\n        topic: \"tanque01/coil/2\",\n        fc: 1,\n        address: 2,\n        quantity: 2\n    },\n    {\n        topic: \"tanque01/coil/11\",\n        fc: 1,\n        address: 11,\n        quantity: 2\n    }\n];\n\nreads.forEach((read, index) => {\n    setTimeout(() => {\n        node.send({\n            topic: read.topic,\n            payload: {\n                value: originalPayload,\n                fc: read.fc,\n                unitid: UNIT_ID,\n                address: read.address,\n                quantity: read.quantity\n            }\n        });\n    }, index * DELAY_MS);\n});\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["6bf86239b60ec39b"]]},{"id":"6bf86239b60ec39b","type":"modbus-flex-getter","z":"358c983c2df6621a","name":"flex","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"67f7e2d8386be090","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":true,"startDelayTime":"","x":650,"y":420,"wires":[["614bb923a7e9aaa6"],[]]},{"id":"bfecb0cd78b658d6","type":"debug","z":"358c983c2df6621a","d":true,"g":"84d97cc19b989797","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":180,"wires":[]},{"id":"614bb923a7e9aaa6","type":"function","z":"358c983c2df6621a","name":"Formatando para o spark","func":"// Function: Decodificar Modbus conforme JSON da planta\n\nconst groups = {\n    \"esteira01/input_register/10\": {\n        equipment: \"esteira01\",\n        table: \"input_register\",\n        baseAddress: 10,\n        tags: [\n            {\n                address: 10,\n                tag: \"VelocidadeRPM\",\n                metric: \"Process/VelocidadeRPM\",\n                type: \"float\",\n                scale: 1,\n                unit: \"RPM\"\n            },\n            {\n                address: 11,\n                tag: \"TemperaturaMotor\",\n                metric: \"Process/TemperaturaMotor\",\n                type: \"float\",\n                scale: 10,\n                unit: \"°C\"\n            }\n        ]\n    },\n\n    \"esteira01/holding_register/20\": {\n        equipment: \"esteira01\",\n        table: \"holding_register\",\n        baseAddress: 20,\n        tags: [\n            {\n                address: 20,\n                tag: \"ContadorGarrafas\",\n                metric: \"Production/ContadorGarrafas\",\n                type: \"int\",\n                scale: 1,\n                unit: \"un\"\n            }\n        ]\n    },\n\n    \"esteira01/coil/1\": {\n        equipment: \"esteira01\",\n        table: \"coil\",\n        baseAddress: 1,\n        tags: [\n            {\n                address: 1,\n                tag: \"MotorLigado\",\n                metric: \"Control/MotorLigado\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            }\n        ]\n    },\n\n    \"esteira01/discrete_input/1\": {\n        equipment: \"esteira01\",\n        table: \"discrete_input\",\n        baseAddress: 1,\n        tags: [\n            {\n                address: 1,\n                tag: \"SensorPresenca\",\n                metric: \"Sensor/SensorPresenca\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            }\n        ]\n    },\n\n    \"esteira01/coil/10\": {\n        equipment: \"esteira01\",\n        table: \"coil\",\n        baseAddress: 10,\n        tags: [\n            {\n                address: 10,\n                tag: \"AlarmeSobrecarga\",\n                metric: \"Alarm/Sobrecarga\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            }\n        ]\n    },\n\n    \"tanque01/input_register/30\": {\n        equipment: \"tanque01\",\n        table: \"input_register\",\n        baseAddress: 30,\n        tags: [\n            {\n                address: 30,\n                tag: \"NivelTanque\",\n                metric: \"Process/NivelTanque\",\n                type: \"float\",\n                scale: 10,\n                unit: \"%\"\n            }\n        ]\n    },\n\n    \"tanque01/coil/2\": {\n        equipment: \"tanque01\",\n        table: \"coil\",\n        baseAddress: 2,\n        tags: [\n            {\n                address: 2,\n                tag: \"BombaLigada\",\n                metric: \"Control/BombaLigada\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            },\n            {\n                address: 3,\n                tag: \"ValvulaEntrada\",\n                metric: \"Control/ValvulaEntrada\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            }\n        ]\n    },\n\n    \"tanque01/coil/11\": {\n        equipment: \"tanque01\",\n        table: \"coil\",\n        baseAddress: 11,\n        tags: [\n            {\n                address: 11,\n                tag: \"AlarmeNivelBaixo\",\n                metric: \"Alarm/NivelBaixo\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            },\n            {\n                address: 12,\n                tag: \"AlarmeNivelAlto\",\n                metric: \"Alarm/NivelAlto\",\n                type: \"boolean\",\n                scale: 1,\n                unit: null\n            }\n        ]\n    }\n};\n\nconst group = groups[msg.topic];\n\nif (!group) {\n    node.warn(\"Grupo Modbus não mapeado: \" + msg.topic);\n    return null;\n}\n\nfunction extractValues(msg) {\n    const payload = msg.payload;\n\n    if (Array.isArray(payload)) {\n        return payload;\n    }\n\n    if (payload && Array.isArray(payload.data)) {\n        return payload.data;\n    }\n\n    if (payload && Array.isArray(payload.buffer)) {\n        return payload.buffer;\n    }\n\n    if (payload && payload.responseBuffer && Array.isArray(payload.responseBuffer.buffer)) {\n        return payload.responseBuffer.buffer;\n    }\n\n    if (payload && payload.responseBuffer && Array.isArray(payload.responseBuffer.valuesAsArray)) {\n        return payload.responseBuffer.valuesAsArray;\n    }\n\n    if (msg.responseBuffer && Array.isArray(msg.responseBuffer.buffer)) {\n        return msg.responseBuffer.buffer;\n    }\n\n    if (msg.responseBuffer && Array.isArray(msg.responseBuffer.valuesAsArray)) {\n        return msg.responseBuffer.valuesAsArray;\n    }\n\n    if (msg.modbusResponse && Array.isArray(msg.modbusResponse.data)) {\n        return msg.modbusResponse.data;\n    }\n\n    return [payload];\n}\n\nfunction convertValue(raw, type, scale) {\n    if (type === \"boolean\") {\n        return Boolean(raw);\n    }\n\n    if (type === \"int\") {\n        return parseInt(raw, 10);\n    }\n\n    if (type === \"float\") {\n        return Number(raw) / scale;\n    }\n\n    return raw;\n}\n\nconst values = extractValues(msg);\nconst output = [];\n\nfor (const tag of group.tags) {\n    const index = tag.address - group.baseAddress;\n    const raw = values[index];\n\n    if (raw === undefined) {\n        node.warn(`Sem valor para ${group.equipment}/${tag.tag} no índice ${index}`);\n        continue;\n    }\n\n    output.push({\n        topic: `${group.equipment}/${tag.tag}`,\n        payload: {\n            equipment: group.equipment,\n            tag: tag.tag,\n            metric: tag.metric,\n            table: group.table,\n            address: tag.address,\n            raw_value: raw,\n            value: convertValue(raw, tag.type, tag.scale),\n            type: tag.type,\n            unit: tag.unit,\n            timestamp: new Date().toISOString()\n        }\n    });\n}\n\nreturn [output];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":440,"wires":[["fd73e2702f4bfaa9"]]},{"id":"85df6d24508dc280","type":"mqtt sparkplug device","z":"358c983c2df6621a","d":true,"name":"","metrics":{"Process/TemperaturaMotor":{"dataType":"Float"}},"broker":"3d213ea7bfc03f22","birthImmediately":false,"bufferDevice":false,"x":1810,"y":340,"wires":[[]]},{"id":"fd73e2702f4bfaa9","type":"function","z":"358c983c2df6621a","name":"Formata para switch","func":"// Function: Tag normalizada -> Sparkplug B\n//\n// Entrada esperada:\n// msg.payload = {\n//   equipment: \"esteira01\",\n//   tag: \"TemperaturaMotor\",\n//   metric: \"Process/TemperaturaMotor\",\n//   value: 25,\n//   raw_value: 250,\n//   type: \"float\",\n//   unit: \"°C\"\n// }\n//\n// Saída esperada para mqtt sparkplug device:\n// msg.payload = {\n//   metrics: [\n//     {\n//       name: \"Process/TemperaturaMotor\",\n//       value: 25,\n//       timestamp: Date\n//     }\n//   ]\n// }\n\nconst data = msg.payload || {};\n\nconst equipment = data.equipment || \"unknown_device\";\nconst metricName = data.metric || data.tag || msg.topic || \"unknown_metric\";\n\nlet value = data.value;\n\n// Normaliza tipos\nif (data.type === \"boolean\") {\n    value = Boolean(value);\n} else if (data.type === \"int\") {\n    value = parseInt(value, 10);\n} else if (data.type === \"float\") {\n    value = Number(value);\n}\n\n// Evita publicar valores inválidos\nif (value === undefined || value === null || Number.isNaN(value)) {\n    node.warn(\"Valor inválido para Sparkplug: \" + JSON.stringify(data));\n    return null;\n}\n\n// Metadados auxiliares para o switch e debug\nmsg.device = equipment;\nmsg.topic = `${equipment}/${metricName}`;\n\nmsg.payload = {\n    metrics: [\n        {\n            name: metricName,\n            value: value,\n            timestamp: new Date()\n        }\n    ]\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":440,"wires":[["d8549045625f6ca6"]]},{"id":"d8549045625f6ca6","type":"switch","z":"358c983c2df6621a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":440,"wires":[[]]},{"id":"522a67a0334f2f92","type":"mqtt sparkplug in","z":"6ab9c8df41441131","d":true,"name":"","topic":"spBv1.0/+/DDATA/+/+","qos":"2","broker":"3d213ea7bfc03f22","x":200,"y":180,"wires":[["51d1f80ef5421f94"]]},{"id":"51d1f80ef5421f94","type":"function","z":"6ab9c8df41441131","d":true,"name":"function 2","func":"const topic = msg.topic || \"\";\nconst parts = topic.split(\"/\");\n\n// Esperado:\n// spBv1.0/avila/DDATA/gateway_node_01/esteira01\nconst namespace = parts[0] || \"\";\nconst groupId = parts[1] || \"\";\nconst messageType = parts[2] || \"\";\nconst edgeNodeId = parts[3] || \"\";\nconst deviceId = parts[4] || \"unknown_device\";\n\nif (messageType !== \"DDATA\") {\n    return null;\n}\n\nconst payload = msg.payload || {};\nconst metrics = payload.metrics || [];\n\nconst points = [];\n\nfor (const metric of metrics) {\n    if (!metric.name) {\n        continue;\n    }\n\n    let value = metric.value;\n\n    if (value === undefined || value === null) {\n        continue;\n    }\n\n    if (typeof value === \"boolean\") {\n        value = value ? 1 : 0;\n    }\n\n    if (typeof value === \"string\") {\n        continue;\n    }\n\n    const metricParts = metric.name.split(\"/\");\n    const metricGroup = metricParts.length > 1 ? metricParts[0] : \"General\";\n    const metricName = metricParts.length > 1\n        ? metricParts.slice(1).join(\"/\")\n        : metric.name;\n\n    points.push({\n        measurement: \"plc_metrics\",\n        tags: {\n            namespace: namespace,\n            group_id: groupId,\n            edge_node_id: edgeNodeId,\n            device: deviceId,\n            metric_group: metricGroup,\n            metric: metricName,\n            metric_full_name: metric.name\n        },\n        fields: {\n            value: Number(value)\n        },\n        timestamp: new Date()\n    });\n}\n\nif (points.length === 0) {\n    return null;\n}\n\nmsg.payload = points;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":200,"wires":[["d68ffad979d2c3bc"]]},{"id":"d68ffad979d2c3bc","type":"influxdb batch","z":"6ab9c8df41441131","d":true,"influxdb":"3335fc7cdfca648e","precision":"","retentionPolicy":"","name":"plc_simulator","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"pessoal","bucket":"pessoal","x":690,"y":200,"wires":[]},{"id":"e0adac95b5764c92","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2","node-red-contrib-mqtt-sparkplug-plus":"2.2.3","node-red-contrib-influxdb":"0.7.0"}}]